:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --navyblue-modal: #2E2F42;
  --white: #ffffff;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --slate: #434455;
  --ocean: #404bbf;
  --grey: #2E2F42B2;
  --lightslate: #8E8F99;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate);
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

/* Phone screen */
.container {
  max-width: 428px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

/* Tablet screen */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Desctop screen */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* header */
.header {
  background: var(--white);
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 767.98px) {
  .header-container {
    padding-bottom: 22px;
    padding-top: 24px;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

@media only screen and (max-width: 767.98px) {
  .nav-list {
    display: none;
  }
}

.addr-list {
  display: flex;
  gap: 40px;
}

@media only screen and (max-width: 767.98px) {
  .addr-list {
    display: none;
  }
}

.logo {
  color: var(--iris);
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 1.17;
}

.logo-two {
  color: var(--navyblue);
}

.list-position {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  transition: color var(--animation);
}

.list-position:hover,
.list-position:focus {
  color: var(--ocean);
}

.position-line::after {
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
}

.color-portfolio {
  color: var(--ocean);
}

.color-studio {
  color: var(--ocean);
}

/* address */
.address-link {
  display: block;
  color: var(--iris);
  font-size: 21px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  transition: color var(--animation);
  letter-spacing: 0.02em;
}

.address-link-mobile {
  color: var(--slate);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.002em;
}

.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}

.addr {
  font-style: normal;
}

@media only screen and (min-width: 768px) {
  .logo {
    margin-right: 76px;
  }

  .addr-list {
    flex-direction: column;
    gap: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .address-link {
    color: var(--slate);
    font-size: 12px;
    line-height: 1.17;
    font-weight: 400;
    letter-spacing: 0.04em;
  }
}

@media only screen and (min-width: 1158px) {
  .address-link {
    line-height: 1.5;
  }

  .addr-list {
    flex-direction: row;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

/* index.html */
/* Hero */
.section-hero {
  background: var(--navyblue);
  padding-top: 112px;
  padding-bottom: 112px;
  background-position: center;
  background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/Dark-bg_mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

@media only screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/Dark-bg_mob@2x.jpg);
  }
}

.hero-title {
  color: var(--white);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 320px;
  padding-bottom: 72px;
  margin: 0 auto;
}

.hero-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  padding: 16px 32px;
  transition: background-color var(--animation);
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--white);
  background-color: var(--ocean, #404bbf);
}

@media only screen and (min-width: 768px) {
  .section-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/Dark-bg_tab.jpg);
    padding-top: 112px;
    padding-bottom: 112px;
    font-size: 56px;
    line-height: 1.07;
  }

  .hero-title {
    padding-bottom: 36px;
  }
}

@media only screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/Dark-bg_tab@2x.jpg);
  }
}

@media only screen and (min-width: 1158px) {
  .section-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office\ 1_desk.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
    font-size: 56px;
    line-height: 1.07;
  }

  .hero-title {
    padding-bottom: 48px;
  }
}

@media only screen and (min-width: 1158px) and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office\ 1_desk@2x.jpg);
  }
}

/* Effective */
.list-effective {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.section-effective {
  padding-top: 96px;
  padding-bottom: 96px;
}

.effective-list-title {
  color: var(--navyblue);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.effective-list-dscr {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.icon-effective-wrap {
  display: none;
}

@media only screen and (min-width: 768px) {
  .effective-item {
    width: calc((100% - 24px) / 2);
  }

  .effective-list-item {
    width: 356px;
  }

  .effective-list-title {
    text-align: left;
  }

  .list-effective {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .section-effective {
    padding: 120px 0;
  }

  .effective-list-title {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .effective-list-dscr {
    font-weight: 400;
    margin: 0 auto;
  }

  .effective-item {
    width: calc((100% - 24px * 3) / 4);
  }

  .list-effective {
    gap: 24px;
  }

  .icon-effective-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: var(--cloud, #F4F4FD);
    width: 264px;
    height: 112px;
    margin: 0 auto;
    margin-bottom: 8px;
  }
}

/* Advantages */
@media only screen and (min-width: 1158px) {
  .section-advantages {
    padding-bottom: 120px;
  }

  .advantages-title {
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }

  .list-advantages {
    display: flex;
    gap: 24px;
  }

  .advantages-list-item {
    width: calc((100% - 24px * 2) / 3);
  }

  .adventages-list-img {
    border: 1px solid var(--cornflower);
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1157px) {
  .section-advantages {
    display: none;
  }
}

/* Our Team */
.section-team {
  padding-bottom: 96px;
  background: var(--cloud);
}

.team-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-top: 96px;
  margin-bottom: 72px;
}

.team-list-text {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 8px;
}

.list-team {
  display: flex;
  flex-direction: column;
  gap: 82px;
}

.team-list-item {
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-subtitle {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-name {
  padding: 32px 0;
}

.team-list-img {
  width: 100%;
}

.icon-team {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.link-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  fill: var(--cloud);
  transition: background-color var(--animation);
}

@media only screen and (min-width: 768px) {
  .list-team {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .team-title {
    padding-top: 120px;
  }

  .section-team {
    padding-bottom: 120px;
  }

  .list-team {
    flex-wrap: nowrap;
    gap: 24px
  }

  .link-svg:hover,
  .link-svg:focus {
    background-color: var(--ocean);
  }
}

/* Customers */
.section-customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.name-customers {
  margin-bottom: 72px;
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.customers-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.customers-list-item {
  width: calc((100% - 16px) / 2);
}

.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--lightslate);
  border-radius: 4px;
  color: var(--lightslate);
  transition: border-color var(--animation), color var(--animation);
  padding: 16px 40px;
}

.icon-customers {
  fill: currentColor;
}

@media only screen and (min-width: 768px) {
  .customers-list-item {
    width: calc((100% - 24px * 2) / 3);
  }

  .customers-list {
    gap: 72px 24px;
    padding-left: 92px;
    padding-right: 92px;
  }
}

@media only screen and (min-width: 1158px) {
  .section-customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-list-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }

  .customers-list {
    gap: 24px;
    padding: 0;
  }

  .customers-list-link:hover,
  .customers-list-link:focus {
    color: var(--ocean);
    border-color: var(--ocean);
  }
}

/* PORTFOLIO */
/* buttons */
.list-btn {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 96px;
  margin-bottom: 72px;
}

.section-btn {
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 120px;
}

.button-name {
  color: var(--iris);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--cloud);
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  background: var(--cloud, #f4f4fd);
  transition: color var(--animation), background-color var(--animation), border-color var(--animation), box-shadow var(--animation);
}

.button-name:hover,
.button-name:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white);
  background-color: var(--ocean);
}

/* project */
.list-project {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  padding-bottom: 120px;
}

.project-list-item {
  width: calc((100% - 24px * 2) / 3);
  margin: 0 auto;
}

.project-list-img {
  display: block;
  padding: 0;
  transition: box-shadow var(--animation);
}

.project-list-img:hover,
.project-list-img:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-text {
  border: 1px solid var(--cornflower, #e7e9fc);
  border-top: none;
  background: var(--white, #fff);
  padding: 32px 16px;
}

.project-list-text {
  color: var(--navyblue);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.project-list-dscr {
  color: var(--slate);
  font-style: normal;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  margin: 0 auto;
}

/* overlay */
.project-box {
  display: block;
  position: relative;
  overflow: hidden;
}

.overlay {
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--cloud);
  background-color: var(--iris);
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform var(--animation);
  margin: 0 auto;
}

.project-list-img:hover .overlay,
.project-list-img:focus .overlay {
  transform: translateY(0%);
}

.overlay-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 296px;
}

/* Footer */
.footer {
  background-color: var(--navyblue);
  padding-top: 96px;
  padding-bottom: 96px;
  margin: 0 auto;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  color: var(--iris);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  padding: 0;
}

.logo-footer-two {
  color: var(--cloud);
  font-size: 18px;
  line-height: 1.7;
}

.footer-dscr {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

@media only screen and (max-width: 1158px) {
  .footer-dscr {
    margin-bottom: 72px;
  }
}

.footer-logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-list-footer {
  display: flex;
  gap: 16px;
}

@media only screen and (max-width: 767.98px) {
  .icon-list-footer {
    margin-bottom: 72px;
  }
}

.icon-link-footer {
  width: 40px;
  height: 40px;
}

.footer-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 100%;
  fill: var(--cloud);
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color var(--animation);
}

.footer-name-icons {
  color: var(--white);
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0 auto;
  margin-bottom: 16px;
}

/* Form footer */
.form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.label-name {
  color: var(--white, #FFF);
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
  margin-bottom: 16px;
}

.form-label-footer {
  width: 100%;
}

.form-input-footer {
  width: 100%;
  height: 40px;
  outline: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  border-radius: 4px;
  border: 1px solid var(--white, #FFF);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  transition: box-shadow var(--animation);
}

input::placeholder {
  color: var(--white, );
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.btn-telegram {
  display: flex;
  justify-content: center;
  min-width: 165px;
  align-items: center;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--iris, #4D5AE5);
  border: inherit;
  color: var(--white);
  cursor: pointer;
}

.icon-telegram {
  fill: var(--white);
  margin-left: 16px;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding-top: 116px;
    padding-bottom: 76px;
  }

  .footer-container {
    padding-left: 108px;
  }

  .box-logo-social {
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 24px;
  }

  .label-name {
    text-align: left;
  }

  .form-footer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 24px;
    margin: 0;
  }

  .form-label-footer {
    width: 264px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .box-logo-social {
    gap: 120px;
  }

  .box-email-footer {
    margin-left: 80px;
  }

  .form-input-footer:hover,
  .form-input-footer:focus {
    transform: box-shadow;
  }

  .footer-list-link:hover,
  .footer-list-link:focus {
    background-color: #31D0AA;
  }
}

/* modal */
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--animation), visibility var(--animation);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: var(--dairy, #FCFCFC);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform var(--animation);
  padding: 72px 24px 24px 24px;
}

.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color var(--animation), border var(--animation);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--ocean);
  border: none;
  fill: #ffffff;
}

.modal-btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: black;
  transition: fill var(--animation);
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  fill: #ffffff;
}

@media only screen and (max-width: 767.98px) {
  .modal {
    max-width: 392px;
    width: 100%;
  }
}

/* Modal form */
.modal-name {
  color: var(--navyblue, #2E2F42);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0 auto;
  margin-bottom: 16px;
}

.form-box {
  margin-bottom: 8px;
}

.label-modal {
  display: block;
  margin-bottom: 4px;
  color: var(--lightslate, #8E8F99);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.svg-box {
  position: relative;
}

.form-input {
  height: 40px;
  width: 100%;
  padding: 0;
  padding-left: 38px;
  border-radius: 4px;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color var(--animation);
  background-color: transparent;
}

.svg-name {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: fill var(--animation);
  fill: #2E2F42;
}

.form-input:focus+.svg-name {
  fill: var(--iris);
}

.form-input:focus,
.form-textarea:focus {
  border-color: var(--iris);
}

.box-textarea {
  margin-bottom: 16px;
}

.form-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color var(--animation);
}

/* Checkbox modal */
.box-checkbox {
  margin-bottom: 24px;
}

.checkbox-privacy {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--lightslate);
}

.checkbox-input {}

.checkbox-vector {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type="checkbox"]:checked+.checkbox-privacy>.checkbox-vector {
  fill: var(--cloud);
  border: none;
  background-color: var(--ocean);
}

.privacy-policy {
  color: var(--iris);
  text-decoration-line: underline;
}

/* Form button */
.btn-modal {
  display: block;
  padding: 0;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  background-color: #4D5AE5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

/* Mobile menu */
.box-mobile-menu {
  position: relative;
  max-width: 428px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-top: 80px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu-toggle {
  min-height: 22px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media only screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  z-index: 999;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  overflow: auto;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  color: #fff;
}

.mobile-menu {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu .link {
  display: block;
  justify-content: center;
  text-decoration: none;
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.box-close-menu {
  width: 24px;
  height: 24px;
  border: 1px solid var(--cornflower);
  border-radius: 50%;
}

.link-mobile-menu:active {
  color: var(--ocean);
}

.link-mobile-menu {
  padding: 0;
}

@media (hover: hover) {

  .link-mobile-menu:hover,
  .link-mobile-menu:focus {
    color: var(--ocean);
  }
}

.mobile-menu-socials {
  display: flex;
  justify-content: center;
  gap: 56px;
  padding-left: 0;
  margin: 0;
  width: 328px;
}

@media only screen and (max-width: 428px) {
  .mobile-menu-socials {
    gap: 18px;
    width: 214px;
  }
}

.addr-list-mobile,
.address-link {
  margin: 0;
  padding: 0;
}

.address-link-mobile-tel {
  font-size: 36px;
}

@media only screen and (max-width: 428px) {
  .address-link-mobile-tel {
    font-size: 20px;
  }
}

.addr-list-mobile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 48px;
}